services:
  db:
    image: postgres:16-alpine 
    container_name: staff_postgres_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: staffsystem_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build:
      context: . 
      dockerfile: StaffInfoSystem/StaffSystem.Web/Dockerfile
    container_name: staff_web_app
    restart: always
    ports:
      - "8080:80"
    environment:
      ConnectionStrings__DefaultConnection: Host=localhost;Port=5432;Database=StaffSystem;Username=postgres;Password=password;
      ASPNETCORE_ENVIRONMENT: Production
    depends_on:
      - db
    
volumes:
  postgres_data: