services:
  db:
    image: postgres:latest
    container_name: staff_postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: StaffSystem
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: staff_web_app
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
volumes:
  postgres_data: